.addPost {
    margin-top: 1rem;

    textarea {
        min-width: 100%;
    }

    &-content {
        h2 {
            margin-bottom: 1rem;
        }
    }

    &-button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}