.aside {
    flex-basis: 25%;
    min-height: 500px;
    padding: 1rem;

    &-nav {
        margin-bottom: 1rem;
        
        ul {
            margin: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;

            li {
                &:not(:last-child) {
                    margin-bottom: 0.7rem;
                }

                a {
                    color: #fff;
                    text-decoration: none;

                    &.active {
                        color: #2a3e5b;
                        border-bottom: 1px solid;
                    }

                    &:hover {
                        color: rgb(142, 212, 240);
                    }
                }
            }
        }
        
    }
}