.dialog-content-messages-add {
    display: flex;
    align-items: center;

    .formControl {
        margin-right: 1rem;
        width: 100%;

        textarea {
            width: 100%;
        }
    }
}