.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;

    &-content {
        color: #fff;
    }

    img {
        height: 100%;
    }
}
