.post {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    &-img {
        margin-right: 1rem;
    }

    &-like {
        display: flex;
        align-items: center;
        margin-left: 1rem;

        img {
            width: 1.5rem;
        }

        span {
            margin-left: 0.3rem;
            font-size: 0.8rem;
        }
    }
}
