.loginForm {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    label {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &-error {
        border: 1px solid red;
        padding: 0.5rem;
    }
}