body {
  max-width: 80%;
  margin: 1rem auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.header, .aside {
  background-color:#00ab60;
}

.header img {
  height: 100%;
}

.main {
  display: flex;
}

.aside {
  flex-basis: 25%;
}

.aside nav ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.aside nav ul li a {
  color: #fff;
  text-decoration: none;
}

.aside nav ul li a:hover {
  color: rgb(142, 212, 240);
}

.aside nav ul li:not(:last-child) {
  margin-bottom: 0.7rem;
}

.main-content {
  margin-left: 1rem;
}